@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

h1 {
	font-family: 'Noto Sans KR', sans-serif;
}

.upload_button {
	padding: 6px 12px;
	background-color: #FF6600;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	float: right;
	width: 84px;
}

header {
	/* 메뉴바 상단 고정 */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}

#navbar-main {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-size: 20px;
}

.navbar-brand {
	width: 220px;
	height: 56px;
	font-size: 31px;
	font-weight: 700;
	color: #387ab7 !important;
	font-family: 'Gugi', cursive;
	padding-left: 30px !important;
	text-shadow: -0.3px 0 #000, 0 0.3px #000, 0.3px 0 #000, 0 -0.3px #000;
}

#search-main {
	margin-top: 6px;
	margin-left: 20px;
	border-radius: 5px;
	border: solid 2px #e9ecef;
	text-decoration: none;
	height: 40px;
	box-sizing: border-box;
}

#isBtn {
	float: right;
	margin-left: 222px;
	margin-top: 8px;
	height: 38px;
}

.search-bar {
	display: flex;
	justify-content: space-between;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#search-input {
	display: block;
	width: 200px;
	border: none;
	padding: 0;
	margin-top: 0px;
	font-size: 16px;
	color: #212529;
	background-color: transparent;
}

#search-button {
	border: none;
	background-color: #f8f8f8;
}

.search-image {
	width: 19px;
	height: 19px;
}

.main_1 {
	float: right
}

#home-main-1 {
	margin-top: 30px;
	padding-top: 50px;
	background-color: #E7F2F8;
}

section {
	display: block;
}

#home-main-1 #home-contents-1 {
	width: 1024px;
	height: 760px;
	margin: 0 auto;
	position: relative;
	background-color: #E7F2F8;
}

#home-main-1 .title-1 {
	font-size: 6rem;
	line-height: 1.3;
	padding-top: 170px;;
	margin-bottom: 3rem;
	letter-spacing: -0.4px;
	font-family: 'Gugi', cursive;
	color: #387ab7;
}

.sub-title-1 {
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: -0.3px;
}

#home-main-1 .myCarousel {
	position: absolute;
	right: -84px;
	bottom: 0;
	width: 804px;
	height: 685px;
}

#myCarousel {
	diplay: blcok;
	width: 700px;
	position: absolute;
	right: -50px;
	bottom: 220px;
	height: auto;
}

.carousel-inner {
	height: auto;
	border-radius: 30px;
}

.carousel-control {
	opacity: 0.1;
	border-radius: 30px;
}

.carousel-control:hover {
	opacity: 0.2;
	border-radius: 30px;
}

#home-main-2 {
	padding: 6rem 0;
	background-color: #E6F3E6;
}

#contents-2 {
	width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #E6F3E6;
}

#home-main-2 .home-image-2 {
	background-image: url(../images/section2.png);
	background-size: 650px 684px;
	width: 650px;
	height: 684px;
}

.title-2 {
	font-size: 4rem !important;
	line-height: 1.35;
	margin-bottom: 2.4rem;
}

.home-buttons {
	margin-top: 3.2rem;
}

home-button {
	background-color: #F1F3F5;
	border: none;
	border-radius: 6px;
	text-decoration: none;
	padding: 1.45rem 2.6rem;
	display: inline-block;
	font-size: 1.8rem !important;
	line-height: 1.47;
	letter-spacing: -0.3px;
	font-weight: bold;
}

#home-main-3 {
	padding: 6rem 0;
	background-color: #FFF;
}

#contents-3 {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 1024px;
	margin: 0 auto;
	justify-content: space-between;
	background-color: #FFF;
}

#home-main-3 .home-image-3 {
	background-image: url(../images/section3.jpg);
	background-size: 546ox 740px;
	width: 546px;
	height: 740px;
}

.title-3 {
	font-size: 4rem !important;
	line-height: 1.35;
	margin-bottom: 2.4rem;
}

.home-list {
	margin-top: 4rem;
	display: flex;
	justify-content: space-betwwen;
	list-style-type: none;
	padding: 0;
}

.home-list-item {
	margin-right: 4rem;
	margin-left: 0;
	max-width: 14rem;
}

.home-list-icon-1 {
	background-image: url(../images/picture.png);
	width: 56px;
	height: 56px;
	background-size: 56px 56px;
}

.home-list-icon-2 {
	background-image: url(../images/learning.png);
	width: 56px;
	height: 56px;
	background-size: 56px 56px;
}

.mb-2 {
	margin-bottom: 0.8rem;
}

.mt-3 {
	margin-top: 1.6rem;
}

.text-s {
	font-size: 1.4rem !important;
	line-height: 1.5;
}

.text-bold {
	font-weight: bold;
}

.text-xs {
	font-size: 1.3rem !important;
	line-height: 1.5;
}

#footer-section {
	background-color: #495057;
	text-align: left;
}

#footer-main {
	text-align: left;
	padding-bottom: 60px;
}

#login_container {
	width: 70rem;
	text-align: center;
	margin-top: 60px;
}

.login_button {
	display: inline-block;
	width: 10rem;
	text-align: center;
}

#join_container {
	width: 70rem;
	text-align: center;
	margin-top: 60px;
}

.join_button {
	display: inline-block;
	width: 10rem;
	text-align: center;
}

.text-reset {
	color: inherit !important;
}